* {
 box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
}
body {
 font-family: Helvetica,Arial,sans-serif;
 font-size: 16px;
 line-height: 1.254em;
 width: 1000px;
 margin: 0 auto;
 padding: 0;
}
#header{
	background: #009cff;
	height: 200px;
	text-align: center;
	padding: 30px;
}
#container{
	border: 1px solid grey;
	height: 880px;
}
form{
	margin: 0px auto;
	width: 500px;
}
#container #menu-left{
 background-color: #242d21;
 width: 150px;
float: left;
}
/*==Trang trí menu==*/
#menu-left ul {
 list-style-type: none;
 padding: 0;
 margin: 0;
}
#menu-left ul li {
list-style-type: none;
 line-height: 2.9em;
 height: 2.9em;
}
#menu-left li a {
 display: block;
 text-decoration: none;
 color: #fff;
 padding: 0 1em;
 border-bottom: 1px solid #333;
}
#menu-left li:hover {
 background-color: #454545;
}
#container #content{

}
#footer{
 font-size: 85%;
 border-top: 1px solid #E6E6E6;
 color: #838383;
 padding: 1em 3em;
 background: blue;
}
img{
	width: 60px;
	height: 60px;
}